/**
 *
 * '||''|.                            '||
 *  ||   ||    ....  .... ...   ....   ||    ...   ... ...  ... ..
 *  ||    || .|...||  '|.  |  .|...||  ||  .|  '|.  ||'  ||  ||' ''
 *  ||    || ||        '|.|   ||       ||  ||   ||  ||    |  ||
 * .||...|'   '|...'    '|     '|...' .||.  '|..|'  ||...'  .||.
 *                                                  ||
 * --------------- By Display:inline ------------- '''' -----------
 *
 * Styles override for 1200+ pixels screens
 */

/* Class used to determine which media queries are on */
#mediaquery-checker {
	width: 50px;
}

/* Columns */
.columns:last-child {
	margin-bottom: 0px;
}
.columns > div {
	margin-bottom: 25px;
}

/* These styles define the columns size. They must be redefined for each responsive size */
.column,
.one-column		{ width: 6.0833%; }
.two-columns	{ width: 14.4167%; }
.three-columns	{ width: 22.75%; }
.four-columns	{ width: 31.0833%; }
.five-columns	{ width: 39.4167%; }
.six-columns	{ width: 53.75%; }
.seven-columns	{ width: 56.0833%; }
.eight-columns	{ width: 64.4167%; }
.nine-columns	{ width: 72.72%; }
.ten-columns	{ width: 81.0833%; }
.eleven-columns	{ width: 89.4167%; }
.twelve-columns	{ width: 97.75%; }

/* Line breaks to ensure correct float */
.new-row-tablet {
	clear: none;
}
.new-row-desktop {
	clear: left;
}